<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Register</title>
</head>
<body>

    <form action="" method="post">
        <input type="text" name="business_name" placeholder="Business Name"><br>
        <input type="text" name="username" placeholder="Your Name"><br>
        <input type="email" name="business_email" placeholder="Business Email"><br>
        <input type="text" name="business_phone" placeholder="Business Phone"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confirm Password"><br>
    </form>
    
</body>
</html>